// Selenium keymap for the Quacken: https://github.com/OneDeadKey/selenium


/******************************************************************************
 * Layout-specific actions and symbols.
******************************************************************************/

// Uncomment one of the folowing lines if using a non-QWERTY layout:

// #define KB_LAYOUT_QWERTY_LAFAYETTE
// #define KB_LAYOUT_AZERTY
#define KB_LAYOUT_ERGOL

// Uncomment the folowing line if using a Mac:

// #define MACOS


/******************************************************************************
 * Hold-Taps
******************************************************************************/

// Uncomment one of the folowing lines to pick your preferred hold-tap config:

// #define HT_NONE
// #define HT_THUMB_TAPS
#define HT_HOME_ROW_MODS  // (default behavior)

// Timing is key! Keep the default value if unsure.
// This defines how long (in ms) a hold-tap key with the "tap-preferred" flavor
// must be held to be considered as a modifier or layer shift. These hold-taps
// are the ones that may produce text, including the space-bar and home-row-mods.
// Keep this value high if you struggle wih home-row-mods.

#define TAPPING_TERM 300

// This defines how quickly (in ms) you need to press and release a hold-tap
// with the "hold-preferred" flavor for it to be considered a tap. These
// hold-taps include the ones that don’t produce text when tapped.
// Keep this value low if you press Enter or Escape by mistake too often.

#define SHORT_TAPPING_TERM 150

// When tapping then holding the same tap-hold, if the delay between the two
// key presses is lower than `QUICK_TAP`, the tap-hold will hold the tap action
// instead of the hold action. Again, keep the default value if unsure.
#define QUICK_TAP 200


// For more information on how hold-taps operate, feel free to read ZMK’s docs:
// https://zmk.dev/docs/keymaps/behaviors/hold-tap

/******************************************************************************
 * Other Options
*****************************************************************************/

// Uncomment the following line to plit the num-nav layer in two:
//  - one layer for vim-style navigation (right) and GUI shortcuts (left)
//  - one layer for a full number row + easy access to Shift+Number
//  + Escape under the left thumb (direct access)
// Highly recommended for Vim users, obviously. :-)

// #define VIM_NAVIGATION

// Uncomment the following line to enable shift as a pinky HRM.
// Useful for combined shortcuts, but NOT MEANT to type text!

// #define HRM_SHIFT

// Uncomment the following line to swap Space and Backspace.
// Beware: this increases the typing load of the left thumb.

// #define LEFT_HAND_SPACE


/******************************************************************************
 * Keymap
******************************************************************************/
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include "aliases.h"       // defines symbols and actions
#include "hold_taps.dtsi"  // defines thumb keys and homerow mods
#include "keymap_french.h" // defines keys for ergo-l over windows azerty


#define K0 KP_N0
#define K1 KP_N1
#define K2 KP_N2
#define K3 KP_N3
#define K4 KP_N4
#define K5 KP_N5
#define K6 KP_N6
#define K7 KP_N7
#define K8 KP_N8
#define K9 KP_N9

/ {
    chosen { zmk,physical-layout = &five_col_layout; };
};

/ {
    macros {
        lm: lm {
            compatible = "zmk,behavior-macro-two-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <2>;
            bindings =
                <&macro_param_1to1>,
                <&macro_press>,
                <&mo MACRO_PLACEHOLDER &macro_param_2to1>,
                <&macro_press>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_param_2to1>,
                <&macro_release>,
                <&kp MACRO_PLACEHOLDER &macro_param_1to1>,
                <&macro_release>,
                <&mo MACRO_PLACEHOLDER>;
        };

        UnS: UnS {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_release>,
                <&kp LSHFT &macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_press>,
                <&kp LSHFT>;
        };

        circ: circ {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings =
                <&macro_tap>,
                <&kp FR_CIRC &macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>;
        };

        tild: tild {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings =
                <&macro_tap>,
                <&kp FR_TILD &macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>;
        };

        x_tild: x_tild {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings =
                <&macro_tap>,
                <&kp LA(FR_N) &macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>;
        };

        diae: diae {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings =
                <&macro_tap>,
                <&kp LS(FR_CIRC) &macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>;
        };

        caps: caps {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&macro_tap>,
                <&kp CAPS &macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&kp CAPS>;
        };

        x_acut: x_acut {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings =
                <&macro_tap>,
                <&kp LS(LA(N1)) &macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>;
        };

        x_agrv: x_agrv {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings =
                <&macro_tap>,
                <&kp OSX_GRV &macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>;
        };

        agrv: agrv {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings =
                <&macro_tap>,
                <&kp FR_GRV &macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>;
        };

        ax: ax {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings =
                <&macro_press>,
                <&kp LALT &macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_release>,
                <&kp LALT>;
        };

        a1xx: a1xx {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N1 &macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER &macro_param_2to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_release>,
                <&kp LALT>;
        };

        a2xx: a2xx {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N2 &macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER &macro_param_2to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_release>,
                <&kp LALT>;
        };

        a01xx: a01xx {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0>,
                <&macro_tap>,
                <&kp KP_N1 &macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER &macro_param_2to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_release>,
                <&kp LALT>;
        };

        insec: insec {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings =
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N2>,
                <&macro_tap>,
                <&kp KP_N5>,
                <&macro_tap>,
                <&kp KP_N5>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_press>,
                <&kp LSHFT>;
        };

        /* BT */
        /*
        bt_prof0: bt_prof0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = 
                <&macro_press &bt BT_SEL 0>
                ,<&macro_press &to WIN_DFT>;
        };

        bt_prof1: bt_prof1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = 
                <&macro_press &bt BT_SEL 1>
                ,<&macro_press &to OSX_DFT>;
        };

        bt_prof2: bt_prof2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = 
                <&macro_press &bt BT_SEL 2>
                ,<&macro_press &to WIN_DFT>;
        };
*/
        /* SEQUENCES */

        w1mins2: w1mins2 {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings =
                <&macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&kp FR_MINS &macro_param_2to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>;
        };

        x1mins2: x1mins2 {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings =
                <&macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&kp OSX_MINS &macro_param_2to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>;
        };

        https: https {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp FR_H>,
                <&macro_tap>,
                <&kp FR_T>,
                <&macro_tap>,
                <&kp FR_T>,
                <&macro_tap>,
                <&kp FR_P>,
                <&macro_tap>,
                <&kp FR_S>,
                <&macro_tap>,
                <&kp FR_COLN>,
                <&macro_tap>,
                <&kp FR_SLSH>,
                <&macro_tap>,
                <&kp FR_SLSH>;
        };
    };

    behaviors {
        HRM_RGUI: HRM_RGUI {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_RGUI";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 3 4 5 12 13 14 15 16 17 24 25 26 27 28 34 35 36 2>;
            quick-tap-ms = <200>;
            hold-trigger-on-release;
        };

        HRM_LGUI: HRM_LGUI {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_LGUI";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <6 7 8 10 11 18 19 20 21 22 23 29 30 31 32 33 37 38 39 9>;
            quick-tap-ms = <200>;
            hold-trigger-on-release;
        };

        HRM_RCTRL: HRM_RCTRL {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_RCTRL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 3 4 5 12 13 14 15 16 17 24 25 26 27 28 34 35 36 2>;
            quick-tap-ms = <200>;
            hold-trigger-on-release;
        };

        HRM_RALT: HRM_RALT {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_RALT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 3 4 5 12 13 14 15 16 17 24 25 26 27 28 34 35 36 2>;
            quick-tap-ms = <200>;
            hold-trigger-on-release;
        };

        HRM_LCTRL: HRM_LCTRL {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_LCTRL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <6 7 8 11 18 19 20 21 22 23 29 30 31 32 33 37 38 39 9 10>;
            quick-tap-ms = <200>;
            hold-trigger-on-release;
        };

        HRM_LALT: HRM_LALT {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_LALT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <6 11 18 19 20 21 22 23 29 30 31 32 33 37 38 39 7 8 10 11 19 20 21 22 9>;
            quick-tap-ms = <200>;
            hold-trigger-on-release;
        };

        SPACE_NAVNUM: SPACE_NAVNUM {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACE_NAVNUM";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
            quick-tap-ms = <200>;
        };

        ENTER_FUNCTIONS: ENTER_FUNCTIONS {
            compatible = "zmk,behavior-hold-tap";
            label = "ENTER_FUNCTIONS";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <300>;
            hold-trigger-key-positions = <37 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33>;
            quick-tap-ms = <200>;
        };

        TAB_FUNCTIONS: TAB_FUNCTIONS {
            compatible = "zmk,behavior-hold-tap";
            label = "TAB_FUNCTIONS";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <300>;
            hold-trigger-key-positions = <36 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33>;
            quick-tap-ms = <200>;
        };

        BCKSPC_NAVNUM: BCKSPC_NAVNUM {
            compatible = "zmk,behavior-hold-tap";
            label = "BCKSPC_NAVNUM";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <300>;
            hold-trigger-key-positions = <35 6 7 8 9 10 11 18 19 20 21 22 23 29 30 31 32 33 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28>;
            quick-tap-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

    // 0. Base layer -- keep the QWERTY key codes to use your OS keyboard layout
    //               -- the Space Cadet layer-tap on the right can be replaced by an AltGr/Enter mod-tap
    //               -- adjust the homerow mods with the #define statements above
        default_layer {
            display-name = "QWERTY";

            // ------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |  MUTE |  PP   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |  LALT |  RALT |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /  |
            //                    | GUI | LWR | SPC |               | ENT | RSE  | ALT |

            bindings = <
  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp C_MUTE  &kp C_PP  &kp Y  &kp U  &kp I      &kp O    &kp P
  &kp A  HRM_S  HRM_D  HRM_F  &kp G  &kp LALT    &kp RALT  &kp H  HRM_J  HRM_K      HRM_L    &kp SEMI
  &kp Z  &kp X  &kp C  &kp V  &kp B                        &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH
                LTHUMB_TUCK  LTHUMB_HOME  LTHUMB_REACH    RTHUMB_REACH  RTHUMB_HOME  RTHUMB_TUCK
            >;
        };
 

    // 1. NumLock layer -- NavNum layer that stays on until deactivated without holding key
    //                  -- 
    //                  -- 
        num_lock_layer {
            display-name = "NumLock";
            bindings = <
  &kp ESC  &kp HOME &kp UP   &kp END   &kp PG_UP  &trans  &trans  &to BASE_LAYER S_N7  S_N8  S_N9  S_FSLH
  S_EQUAL  &kp LEFT &kp DOWN &kp RIGHT &kp PG_DN  &trans  &trans  S_MINUS        S_N4  S_N5  S_N6  S_N0
  S_MONEY  S_COLON  S_STAR   S_PLUS    S_PRCNT                    S_COMMA        S_N1  S_N2  S_N3  S_DOT
  &trans  &sc NUM_NAV_LAYER BACKSPACE  &kp (TAB)  &trans  &lt NUM_NAV_LAYER LS(SPACE)  &EZ_SL(SYMBOLS_LAYER)
            >;
        };
      
    // 2. Symbols layer -- with Ergol, basically just an AltGr layer with custom thumb keys
    //                  -- can be redefined for non-AltGr layouts such as QWERTY-ANSI
    symbols_layer {
      display-name = "Symbols";
      bindings = <
        S_CARET S_LT    S_GT    S_DLLR  S_PRCNT   &trans        &trans  S_AT    S_AMPS  S_STAR  S_SQT   S_GRAVE
        S_LBRC  S_LPAR  S_RPAR  S_RBRC  S_EQUAL   &trans        &trans  S_BSLH  S_PLUS  S_MINUS S_FSLH  S_DQT
        S_TILDE S_LBKT  S_RBKT  S_UNDER S_HASH                  S_PIPE  S_EXCL  S_SEMI  S_COLON S_QMARK
                    SYM_NUM_LAYER  &kp SPACE  &kp ENTER     &trans  &kp RALT  &trans
      >;
    };

    // 3. VimNav layer -- HJKL arrow cluster on the right hand
    //                 -- best used along with the NumRow layer
    //                 -- keyboard shortcuts on the left hand are adjusted to the OS layout (Ergol here)
    vim_nav_layer {
      display-name = "VimNav";
      bindings = <
        &kp CAPS X_CLOSE  X_PREV   X_NEXT    &none  &trans        &trans  &kp HOME &kp PG_DN &kp PG_UP &kp END   &kp DEL 
        X_ALL    X_SAVE   X_SHTAB  &kp TAB   &none  &trans        &trans  &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &none
        X_UNDO   X_CUT    X_COPY   X_PASTE   X_REDO                       &none    &none     &none     &none     &none
        &kp CAPSLOCK  &lt FUNCTION_LAYER DEL  &mo NUM_ROW_LAYER   &trans   &mo FUNCTION_LAYER  &EZ_LSK(RALT)
      >;
    };

    // 4. NumNav layer -- inverted T arrow cluster on the left hand, numpad on the right hand
    //                 -- can be the only extra layer you need if you're not too picky with number+symbols n-grams
    //                 -- keyboard shortcuts on the left hand are adjusted to the OS layout (Ergol here)
    num_nav_layer {
      display-name = "NumNav";
      bindings = <
        &kp ESC  &kp HOME &kp UP   &kp END   &kp PG_UP  &trans        &trans  &to NUM_LOCK_LAYER S_N7  S_N8  S_N9  S_FSLH
        X_ALL    &kp LEFT &kp DOWN &kp RIGHT &kp PG_DN  &trans        &trans  S_MINUS            S_N4  S_N5  S_N6  S_N0
        X_UNDO   X_CUT    X_COPY   X_PASTE   X_REDO                           S_COMMA            S_N1  S_N2  S_N3  S_DOT
               &kp CAPSLOCK  &sc FUNCTION_LAYER DEL  &kp LS(TAB)  &kp ESCAPE  &lt FUNCTION_LAYER LS(SPACE)  &EZ_LSK(RALT)
      >;
    };

    // 5. NumRow layer -- bring the numbers to the homerow, keep shift+numbers for shortcuts and symbols
    //                 -- space becomes shift+space, which is a no-break space with some OS layouts (e.g. Ergol)
    //                 -- best used along with the VimNav layer
    num_row_layer {
      display-name = "NumRow";
      bindings = <
        &kp RS(N1) &kp RS(N2) &kp RS(N3) &kp RS(N4) &kp RS(N5)  &trans        &trans     &kp LS(N6) &kp LS(N7) &kp LS(N8) &kp LS(N9) &kp LS(N0) 
        &kp N1     &kp N2     &kp N3     &kp N4     &kp N5      &trans        &trans     &kp N6     &kp N7     &kp N8     &kp N9     &kp N0
        &none      &none      &none      &none      &none                                S_MINUS    S_COMMA    S_DOT      S_COLON    S_FSLH
                                      &trans  &kp RS(SPACE) &trans           &trans  &kp LS(SPACE) &kp RALT
      >;
    };
// Ergo-l over Windows Azerty ----------------------------------------------------------------------------------
    // 6. Ergol over Windows azerty layer --
    //                                    -- 
    //  
        ergol-layer {
            label = "Ergo-l";
            display-name = "Ergo-l";
            bindings = <
  &kp FR_Q  &kp FR_C             &kp FR_O               &kp FR_P                     &kp FR_W               &kp C_MUTE  &kp C_PP  &kp FR_J                    &kp FR_M                 &kp FR_D               &sl ERGOL_1DK_LAYER          &kp FR_Y
  &kp FR_A  &HRM_LGUI LWIN FR_S  &HRM_LCTRL LCTRL FR_E  &HRM_LALT LEFT_ALT FR_N      &kp FR_F               &kp LALT    &kp RALT  &kp FR_L                    &HRM_RALT LEFT_ALT FR_R  &HRM_RCTRL RCTRL FR_T  &HRM_RGUI RWIN FR_I  &kp FR_U
  &kp FR_Z  &kp FR_X             &kp FR_MINS            &kp FR_V                     &kp FR_B                                     &kp FR_DOT                  &kp FR_H                 &kp FR_G               &kp FR_COMM          &kp FR_K
                                 LTHUMB_TUCK  LTHUMB_HOME  LTHUMB_REACH    RTHUMB_REACH  RTHUMB_HOME  RTHUMB_TUCK
            >;
        };

    // 7. Ergol Shift --
    //                 -- 
    //  
        sergol-layer {
            label = "Shift";
            display-name = "Shift";
            bindings = <
  &circ FR_A       &kp FR_CCED  &a01xx K5 K6  &circ FR_O       &kp FR_DEG    &trans      &trans  &to ERGOL_LAYER   &kp FR_MICR   &kp FR_UNDS  &kp FR_DIAE      &circ FR_U
  &to ERGOL_LAYER  &kp FR_AGRV  &kp FR_EACU   &kp FR_EGRV      &circ FR_E    &tild FR_N  &trans  &trans            &a1xx K7 K4   &a1xx K7 K5  &circ FR_I       &diae FR_I
  &kp FR_UGRV      &kp FR_SECT  &a1xx K4 K5   &to ERGOL_LAYER  &a01xx K7 K3                      &a01xx K5 K0      &a01xx K5 K1  &a1xx K4 K5  &to ERGOL_LAYER  &a01xx K7 K3
                                &a01xx K5 K0  &a01xx K5 K1     &trans                            &trans            &trans        &trans
            >;
        };

    // 8. Ergol 1DK layer --
    //                    -- 
    //  
        ergol_1dk_layer {
            label = "1dk";
            display-name = "1dk";
            bindings = <
  &circ FR_A       &kp FR_CCED  &a01xx K5 K6  &circ FR_O       &kp FR_DEG    &trans      &trans  &to ERGOL_LAYER   &kp FR_MICR   &kp FR_UNDS  &kp FR_DIAE      &circ FR_U
  &to ERGOL_LAYER  &kp FR_AGRV  &kp FR_EACU   &kp FR_EGRV      &circ FR_E    &tild FR_N  &trans  &trans            &a1xx K7 K4   &a1xx K7 K5  &circ FR_I       &diae FR_I
  &kp FR_UGRV      &kp FR_SECT  &a1xx K4 K5   &to ERGOL_LAYER  &a01xx K7 K3                      &a01xx K5 K0      &a01xx K5 K1  &a1xx K4 K5  &to ERGOL_LAYER  &a01xx K7 K3
                                &a01xx K5 K0  &a01xx K5 K1     &trans                            &trans            &trans        &trans
            >;
        };

    // 9. Ergol Shift SDK --
    //                 -- 
    //  
        sergol_1dk_layer {
            label = "s1dk";
            display-name = "s1dk";
            bindings = <
  &circ FR_A       &kp FR_CCED  &a01xx K5 K6  &circ FR_O       &kp FR_DEG    &trans      &trans  &to ERGOL_LAYER   &kp FR_MICR   &kp FR_UNDS  &kp FR_DIAE      &circ FR_U
  &to ERGOL_LAYER  &kp FR_AGRV  &kp FR_EACU   &kp FR_EGRV      &circ FR_E    &tild FR_N  &trans  &trans            &a1xx K7 K4   &a1xx K7 K5  &circ FR_I       &diae FR_I
  &kp FR_UGRV      &kp FR_SECT  &a1xx K4 K5   &to ERGOL_LAYER  &a01xx K7 K3                      &a01xx K5 K0      &a01xx K5 K1  &a1xx K4 K5  &to ERGOL_LAYER  &a01xx K7 K3
                                &a01xx K5 K0  &a01xx K5 K1     &trans                            &trans            &trans        &trans
            >;
        };
        
    // 10. Ergol SYM   --
    //                    -- 
    //  
        ergol_sym_layer {
            label = "sym";
            display-name = "sym";
            bindings = <
  &circ FR_A       &kp FR_CCED  &a01xx K5 K6  &circ FR_O       &kp FR_DEG    &trans      &trans  &to ERGOL_LAYER   &kp FR_MICR   &kp FR_UNDS  &kp FR_DIAE      &circ FR_U
  &to ERGOL_LAYER  &kp FR_AGRV  &kp FR_EACU   &kp FR_EGRV      &circ FR_E    &tild FR_N  &trans  &trans            &a1xx K7 K4   &a1xx K7 K5  &circ FR_I       &diae FR_I
  &kp FR_UGRV      &kp FR_SECT  &a1xx K4 K5   &to ERGOL_LAYER  &a01xx K7 K3                      &a01xx K5 K0      &a01xx K5 K1  &a1xx K4 K5  &to ERGOL_LAYER  &a01xx K7 K3
                                &a01xx K5 K0  &a01xx K5 K1     &trans                            &trans            &trans        &trans
            >;
        };

    // 11. Ergol SSYM  --
    //                    -- 
    //  
        sergol_sym_layer {
            label = "ssym";
            display-name = "ssym";
            bindings = <
  &circ FR_A       &kp FR_CCED  &a01xx K5 K6  &circ FR_O       &kp FR_DEG    &trans      &trans  &to ERGOL_LAYER   &kp FR_MICR   &kp FR_UNDS  &kp FR_DIAE      &circ FR_U
  &to ERGOL_LAYER  &kp FR_AGRV  &kp FR_EACU   &kp FR_EGRV      &circ FR_E    &tild FR_N  &trans  &trans            &a1xx K7 K4   &a1xx K7 K5  &circ FR_I       &diae FR_I
  &kp FR_UGRV      &kp FR_SECT  &a1xx K4 K5   &to ERGOL_LAYER  &a01xx K7 K3                      &a01xx K5 K0      &a01xx K5 K1  &a1xx K4 K5  &to ERGOL_LAYER  &a01xx K7 K3
                                &a01xx K5 K0  &a01xx K5 K1     &trans                            &trans            &trans        &trans
            >;
        };

    // 12. Ergol NumNav --
    //                 -- 
    //  
        ergol_numnav_layer {
            label = "ergol-NumNav";
            display-name = "NumNav";
            bindings = <
  &circ FR_A       &kp FR_CCED  &a01xx K5 K6  &circ FR_O       &kp FR_DEG    &trans      &trans  &to ERGOL_LAYER   &kp FR_MICR   &kp FR_UNDS  &kp FR_DIAE      &circ FR_U
  &to ERGOL_LAYER  &kp FR_AGRV  &kp FR_EACU   &kp FR_EGRV      &circ FR_E    &tild FR_N  &trans  &trans            &a1xx K7 K4   &a1xx K7 K5  &circ FR_I       &diae FR_I
  &kp FR_UGRV      &kp FR_SECT  &a1xx K4 K5   &to ERGOL_LAYER  &a01xx K7 K3                      &a01xx K5 K0      &a01xx K5 K1  &a1xx K4 K5  &to ERGOL_LAYER  &a01xx K7 K3
                                &a01xx K5 K0  &a01xx K5 K1     &trans                            &trans            &trans        &trans
            >;
        };

    // 13. Ergol Shift NumNav --
    //                 -- 
    //  
        sergol_numnav_layer {
            label = "snumnav";
            display-name = "sNumNav";
            bindings = <
  &circ FR_A       &kp FR_CCED  &a01xx K5 K6  &circ FR_O       &kp FR_DEG    &trans      &trans  &to ERGOL_LAYER   &kp FR_MICR   &kp FR_UNDS  &kp FR_DIAE      &circ FR_U
  &to ERGOL_LAYER  &kp FR_AGRV  &kp FR_EACU   &kp FR_EGRV      &circ FR_E    &tild FR_N  &trans  &trans            &a1xx K7 K4   &a1xx K7 K5  &circ FR_I       &diae FR_I
  &kp FR_UGRV      &kp FR_SECT  &a1xx K4 K5   &to ERGOL_LAYER  &a01xx K7 K3                      &a01xx K5 K0      &a01xx K5 K1  &a1xx K4 K5  &to ERGOL_LAYER  &a01xx K7 K3
                                &a01xx K5 K0  &a01xx K5 K1     &trans                            &trans            &trans        &trans
            >;
        };

// Common layers -----------------------------------------------------------------------------------------------
    // 14. Functions layer --
    //                    -- 
    //                    -- 
        Functions {
            label = "Functions";
            display-name = "Functions";
            bindings = <
  &kp F1  &kp F2   &kp F3   &kp F4   &rgb_ug RGB_TOG                 &trans  &trans  &trans  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &trans            &to ERGOL_LAYER
  &kp F5  &kp F6   &kp F7   &kp F8   &rgb_ug RGB_EFF                 &trans  &trans  &trans  &kp K_VOLUME_DOWN     &kp K_VOLUME_UP       &kp K_MUTE        &trans
  &kp F9  &kp F10  &kp F11  &kp F12  &rgb_ug RGB_COLOR_HSB(0,92,49)                  &trans  &kp K_PREVIOUS        &kp K_NEXT            &kp K_PLAY_PAUSE  &to BASE_LAYER
                   &mo BT   &trans   &trans                                          &trans  &trans                &trans
            >;
        };
    // 15. BlueTooth layer -- 
    //                    -- 
    //                    -- 
        BT {
            display-name = "BT";
            bindings = <
  &kp N1        &kp N2           &kp N3        &kp N4        &kp N5          &kp LCTRL  &kp RCTRL  &kp N6    &kp N7    &kp N8     &kp N9     &kp N0
  &bt BT_SEL 0  &bt BT_SEL 1     &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp LALT   &kp RALT   &kp LEFT  &kp DOWN  &kp UP     &kp RIGHT  &trans
  &bt BT_CLR    &rgb_ug RGB_TOG  &sys_reset    &bootloader   &studio_unlock                        &trans    &trans    &trans     &trans     &trans
                                 &trans        &trans        &trans                                &trans    &trans    &kp SPACE
            >;

            label = "BT";
        };

    };
};


// Some layouts require extra layers to fit on the Quacken.
#ifdef KB_LAYOUT_AZERTY
  #include "extra_layers/azerty.dtsi"
#elif defined KB_LAYOUT_ERGOL && defined HUMMINGBIRD
  #include "extra_layers/ergol_hummingbird.dtsi"
#endif